/* BACKGROUNDS */
$primary-color: white;
$secondary-color: #fdf0ee;
$secondary-color_darker: #f2cfc8;

/* BUTTON */
$ButtonColor: #a5d0ed;
$ButtonColor_lighter: #d4e6f2;

/* TITLE */
$TitleColor: #f8c725;
$DarkerTitle: #d4af37;

/* POLICES */
$TitlePolice: 'Great Vibes';
$ParagraphePolice: 'Playfair Display';

/* LOGO */
$LogoColor: #382c25;

/* LINKS */
$LinkColor: #d4af37;
