/* PAYSAGE */
.paysage {
  /* Size */
  width: 95%;
  height: 350px;
  box-sizing: border-box;

  /* Layout */
  margin: 0 auto;
  margin-top: 30px;

  & img {
    /* Size */
    @include FullSize;
    object-fit: cover;

    /* Decoration */
    border-radius: 10px;
  }
}
