/* HORAIRE */
.horaire {
  /* Size */
  @include FullSize;
  box-sizing: border-box;

  /* Display */
  @include FlexCenter;
  flex-direction: column;

  /* Layout */
  margin: 0 auto;
  margin-top: 30px;
  padding: 50px;
  padding-top: 20px;
  padding-bottom: 20px;

  /* Font */
  text-align: center;

  /* Decoration */
  background-color: $secondary-color;
  border-radius: 10px;
  box-shadow: 5px 5px 5px lightgrey;

  /* Animation */
  @include Apparition;

  /* Transiton */
  transition: transform 0.3s ease-in-out;

  @include Phone {
    /* Layout */
    margin-top: 20px;
    padding: 20px;
  }

  @include SmallPhone {
    /* Layout */
    margin-top: 20px;
    padding: 10px;
  }

  &:hover {
    /* Deoration */
    @include BackgroundLinearGradient;

    /* Transform */
    transform: scale(1.01);
    z-index: 3;
  }

  & h2 {
    /* Layout */
    margin: 0;

    /* Font */
    font-size: 40px;
    text-align: center;
    text-shadow: $primary-color 1px 1px 0px;
  }

  & .time {
    /* Size */
    @include FullSize;

    /* Display */
    @include FlexCenter;
    flex-direction: column;

    /* Font */
    font-weight: bolder;
    font-size: 20px;

    @include SmallPhone {
      /* Font */
      font-size: 13px;
    }
  }

  & .day {
    /* Size */
    width: 100%;

    /* Layout */
    margin: 0 auto;

    /* Display */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

/*CHOICE APPARITION*/
@keyframes apparition {
  0% {
    /*Opacity*/
    opacity: 0;
  }

  30% {
    /*Opacity*/
    opacity: 0.5;
  }

  100% {
    /*Opacity*/
    opacity: 1;
  }
}
